:root {
  font-family: "Raleway", sans-serif;
  color: var(--white);
  
  --dark-blue: rgba(16, 14, 29, 1);
  --light-blue: rgba(30, 33, 58, 1);
  --light-grey: rgba(160, 159, 177, 1);
  --grey: rgba(110, 112, 122, 1);
  --white: rgba(231, 231, 235, 1);
  --button-blue: rgba(60, 71, 233, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-blue);
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

button{
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 144px;
  font-weight: 500;
}

h2{
  font-size: 64px;
  font-weight: 700;
}

h3{
  font-size: 36px;
  font-weight: 500;
}

h4{
  font-size: 48px;
  font-weight: 100;
}

h5{
  font-size: 18px;
  font-weight: 700;
}

p{
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}
